{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_content %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
  </head>
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4"> Post Your Idea</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-success" type="submit">Post</button>
    </div>
  </form>
<h5 class="text-danger"> We advice you put just few words on your idea in the description form for security reasons </h5>
</div>
{% endblock %}